[submodule "external/hooking"]
	path = external/hooking
	url = https://github.com/ThirteenAG/Hooking.Patterns
[submodule "external/IniReader"]
	path = external/IniReader
	url = https://github.com/ThirteenAG/IniReader
[submodule "external/injector"]
	path = external/injector
	url = https://github.com/ThirteenAG/injector
[submodule "external/filewatch"]
	path = external/filewatch
	url = https://github.com/ThomasMonkman/filewatch
[submodule "external/ModUtils"]
	path = external/ModUtils
	url = https://github.com/CookiePLMonster/ModUtils.git
[submodule "external/ps2sdk"]
	path = external/ps2sdk
	url = https://github.com/ThirteenAG/ps2sdk
[submodule "external/pspsdk"]
	path = external/pspsdk
	url = https://github.com/ThirteenAG/pspsdk
